@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&family=Raleway:wght@700&display=swap");

.nav {
  width: 118px;
  height: 41px;
  margin: 32px auto;
}

.nav-content {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: -0.045em;
  color: #333333;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  margin: auto;
}

.footer-cont {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a9a9a9;
}


